

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.product-container {
  max-width: 1000px;
  margin: 20px auto;
}
.full-width {
  width: 100%;
}

.mat-column-name {
  flex: 2;
}

.mat-column-price {
  width: 150px;
  text-align: right;
  padding-right: 24px !important;
}

.mat-column-actions {
  width: 120px;
  text-align: center;
}
